<div class="container">

	<div class="row">
		<div class="col-md-11">
			<h2 class="mt-2" style="text-align: center;">Ring Adjustment v2.0</h2>
		</div>
		<div class="col-md-1 mt-2">
			<button type="button" class="plus alt radius" data-toggle="modal" data-target="#exampleModalCenter"
				(click)="isModalOpen = true">
			</button>
		</div>
	</div>
	<div class="row" style="margin-top: 3%;">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col p-0 ml-0">
			<label class="control-label">Power Settings</label>
			<div class="d-block btn-group">
				<button *ngFor="let i of power; let j = index" class="btn shadow-none"
					[ngClass]="{'btn-secondary' : power[j], 'btn-outline-secondary': !power[j] }"
					(click)="selectPower(j)">P{{j}}</button>
			</div>
		</div>
	</div>

	<form [formGroup]="windForm">
		<div class="form-group" style="margin-top: 3%;">
			<div class="row">
				<div class="col-md-6 col-sm-3">
					<label class="control-label ml-4">Elevation</label>
					<input class="form-control ml-4 w-75" required formControlName="elevation" type="number">

					<label class="control-label ml-4" style="padding-top: 20px;">Wind Speed</label>
					<input class="form-control ml-4 w-75" required formControlName="wind" type="number">

					<label class="control-label ml-4" style="padding-top: 20px;">Slider Percentage</label>
					<input class="form-control ml-4 w-75" required formControlName="slider" type="number">

					<div class="row ml-1" style="margin-top: 6%;">
						<div class="col-lg-5">
							<button type="submit" class="btn btn-success w-100" (click)="getAdjustment()"
								[disabled]="!windForm.valid || ballPower === -1">Submit</button>
						</div>
						<div class="col-lg-5">
							<button class="btn btn-info w-100" (click)="clear()">Clear</button>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-3">
					<table class="table table-sm table-bordered table-hover w-75 ml-3" *ngIf="displayClubs">
						<thead class="thead-dark">
							<th>Level</th>
							<th>Club</th>
							<th>Rings</th>
						</thead>
						<tbody>
							<tr *ngFor="let obj of displayClubs" [ngClass]="determineBgColor(obj.club)">
								<td>{{obj.level}}</td>
								<td>{{obj.club.name}}</td>
								<td>{{obj.rings}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true" *ngIf="isModalOpen">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add Club</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<input list="clubs" id="search" [(ngModel)]="selection">
						<datalist id="clubs">
							<option *ngFor="let item of searchList" [value]="item">{{item}}</option>
						</datalist>
					</div>
					<div class="col-md-6">
						<input type="number" min="1" max="10" [(ngModel)]="level">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					[disabled]="modalAddEnabled()" (click)="onAdd()">Add</button>
			</div>
		</div>
	</div>
</div>